<style>
  /* Popup container - can be anything you want */

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* The actual popup */

  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #aa3939;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  /* Popup arrow */

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #aa3939 transparent transparent transparent;
  }
  /* Toggle this class - hide and show the popup */

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  /* Add animation (fade in the popup) */

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<div class="jumbotron" style="padding-top: 2em; padding-bottom: 1em;">
  <div class="text-center">
    <h1>
      <b style="nono-text-shadow: 2px 2px #a0a0a0; font-weight:700; font-size:63px;">Jutge.org</b>
    </h1>
    <p style="margin-bottom: 15px; font-size: 21px; font-weight: 200;" class="test">
      The Virtual Learning Environment for Computer Programming
    </p>
    <br>
    <form class="form-inline">
      <div class="form-group ">
        <input style="width:15em;" type="email" class="form-control native-key-bindings" name="email" id="email" placeholder="user@example.com" autofocus="autofocus">
      </div>
      &nbsp;
      <div class="form-group ">
        <input style="width:15em;" type="password" class="form-control native-key-bindings" name="password" id="password" placeholder="password">
      </div>
      &nbsp;
      <div class="checkbox">
        <label class="popup" id="remember"><input type="checkbox"> Remember password
          <span class="popuptext" id="myPopup">A Simple Popup!</span>
        </label>
      </div>
      &nbsp;
      <div class="form-group">
        <button name="submit" class="btn btn-success rippler rippler-default" id="submit">Sign in</button>
      </div>
    </form>
  </div>
  <script>
    // When the user clicks on div, open the popup
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
  </script>
</div>
