<div class="jumbotron" style="padding-top: 2em; padding-bottom: 1em;">
  <div class="text-center">
    <h1>
      <b style="nono-text-shadow: 2px 2px #a0a0a0; font-weight:700; font-size:63px;">Jutge.org</b>
    </h1>
    <p style="margin-bottom: 15px; font-size: 21px; font-weight: 200;" class="test">
      The Virtual Learning Environment for Computer Programming
    </p>
    <br>
    <form class="form-inline">
      <div class="form-group ">
        <input type="text" class="form-control native-key-bindings" name="email" id="email" placeholder="user@example.com" autofocus="autofocus">
      </div>
      &nbsp;
      <div class="form-group ">
        <input type="password" class="form-control native-key-bindings" name="password" id="password" placeholder="password">
      </div>
      &nbsp;
      <div class="form-group">
        <button name="submit" class="btn btn-success rippler rippler-default" id="submit">Sign in</button>
      </div>
    </form>
  </div>
</div>
